python-dotenv==1.0.1 # For reading environment variables stored in .env file
langchain==0.2.2
langchain-community==0.2.3
langchain-openai==0.1.8 # For embeddings
langchain-postgres==0.0.9
unstructured==0.14.4 # Document loading
unstructured[md]
psycopg[binary]==3.2.9
openai==1.31.1 # For embeddings
httpx==0.27.2
tiktoken==0.7.0  # For embeddings 
pytest==8.3.5
fastapi
uvicorn[standard]
python-multipart

